
.input-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  &.agreeEmail input[type="checkbox"],
  &.agreeTerms input[type="checkbox"] {
    padding: 0px;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    position: relative;
    color: $check-box-tick-blue;
  }
  
  &.agreeEmail input[type="checkbox"]:checked::before,
  &.agreeTerms input[type="checkbox"]:checked::before {
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }

  &.agreeEmail .input-label,
  &.agreeTerms .input-label {
    top: 4px;
    right: 25px;
    font-weight: 600;
    font-size: 15px;
    background-color: transparent;
  }
}

.input-label {
  color: $main-input-text-gray;
  position: absolute;
  top: -8px;
  right: 8px;
  background-color: white;
  padding: 0 5px;
  font-size: 14px;
}

input, select {
  border-radius: 5px;
  border: 1px solid $main-border-gray;
  width: calc(0.22*80vw);
  height: 43px;
  padding: 10px 15px; 
  font-size: 14px;
  &:focus{
    outline: none;
  }
  &#birthDate{
    width: calc(0.135*80vw);
  }
  &#houseNumber{
    width: calc(0.09*80vw);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=date]
{
  flex-direction: row-reverse;
  justify-content: space-between;
  text-align: center;
}

input[type=date]::-webkit-datetime-edit-text,
input[type=date]::-webkit-datetime-edit-month-field,
input[type=date]::-webkit-datetime-edit-day-field,
input[type=date]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  opacity: 0;
}

input[type=date]:valid::-webkit-datetime-edit-month-field,
input[type=date]:valid::-webkit-datetime-edit-day-field,
input[type=date]:valid::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  opacity: 1;
}

.user-error
{
  padding-top: 5px;
  visibility: hidden;
  font-size: 12px;
  color: red;
  &.visible{
    visibility: visible;
  }
}

.asterisk{
  color: $main-dark-red;
  font-weight: 700;
}

@media(max-width: 425px) {
  
  .input-wrapper {
  
    &.agreeEmail .input-label,
    &.agreeTerms .input-label {
      margin-right: 10px;
      padding: 0;
      font-size: 13px;
    }
  }
  .user-error{
    display: none;
  }

  input,select {
    width: 100%;
    height: 40px;
    &#birthDate{
      width: 42vw;
    }
    &#houseNumber{
      width: 27vw;
    }
  }
}
